@use '../vars/colors' as c;

%link-styles {
    font-weight: 500;
    color: c.$brand-black;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: 210ms ease-in all;
}
%link-styles-hover {
    color: c.$brand-blue;
    border-color: c.$underline-pink;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
