.skip-to-main {
	// background: $underline-pink;
	background: #ed78b1;
	color: #000;
	height: 30px;
	top: 0;
	left: 0;
	padding: 8px;
	position: absolute;
	transform: translateY(-90%);
	transition: transform 0.3s;

	&:visited {
		color: #000;
	}

	&:focus {
		top: 0;
		transform: translateY(0%);
	}
}
