@use '../../vars/colors' as c;
@use '../icons/iconpacks/mixins' as m;
@mixin iconClass($icon-shape, $icon-color) {
	.icon-#{$icon-shape} {
		&::before {
			content: '';
			position: absolute;
			display: block;
			background-color: c.$icon-bg-color;
			border-width: 0px;
			top: 0px;
			left: 0px;
			width: 40px;
			height: 40px;
			@include getcode(#{$icon-shape}, #{$icon-color});
			background-repeat: no-repeat;
			background-size: 40%;
			background-position: center;
		}
	}
}
