// ----- Colours

$lightMode: (
    brand-black: #2c2c2c,
    visited: #9700a8,
    brand-pink: #ed78b1,
    tertiary-color: #003cf0,
    brand-blue: #285b86,
    so-white: #fefefe,
    solid-black: #000,
    underline-pink: #ed78b1,
    icon-bg-color: var(--brand-blue),
    btn-bg-color: #eee,
    btn-bg-pocus: #ddd,
    brand-grey: #e8e8e8,
    highlight-bg: #5cb5c2,
    highlight-txt: #1c1c1c,
    dropdown-shadow1: #e8e8e8,
    dropdown-shadow2: #f6f6f6,
);
$darkMode: (
    brand-black: #fefefe,
    visited: #9700a8,
    brand-pink: #f1a2c8,
    tertiary-color: #003cf0,
    brand-blue: var(--brand-black),
    so-white: #1c1b22,
    solid-black: #000,
    underline-pink: #ed78b1,
    icon-bg-color: var(--brand-blue),
    btn-bg-color: #eee,
    btn-bg-pocus: #ddd,
    brand-grey: var(--so-white),
    highlight-bg: #5cb5c2,
    highlight-txt: #1c1c1c,
    dropdown-shadow1: #e8e8e8,
    dropdown-shadow2: #f6f6f6,
);

// Measurements
$measurements: (
    logo-width: 5rem,
    logo-height: 5rem,
);

// add css custom props from sass vars
:root {
    @each $measurement, $val in $measurements {
        --#{$measurement}: #{$val};
    }

    // light mode styles
    @media (prefers-color-scheme: light) {
        @each $colour-name, $val in $lightMode {
            --#{$colour-name}: #{$val};
        }
    }
    @media (prefers-color-scheme: dark) {
        @each $colour-name, $val in $darkMode {
            --#{$colour-name}: #{$val};
        }
    }
}

// Sass vars
$brand-black: var(--brand-black);
$visited: var(--visited);
$brand-pink: var(--brand-pink);
$tertiary-color: var(--tertiary-color);
$brand-blue: var(--brand-blue);
$so-white: var(--so-white);
$underline-pink: var(--brand-pink);
$solid-black: var(--solid-black);
$brand-grey: var(--brand-grey);
$highlight-bg: var(--highlight-bg);
$highlight-txt: var(--highlight-txt);

$btn-bg-color: var(--btn-bg-color); //background for the button
$btn-bg-color-hover: var(--btn-bg-pocus);
$btn-bg-color-focus: var(--btn-bg-pocus);

$dropdown-shadow1: var(--dropdown-shadow1);
$dropdown-shadow2: var(--dropdown-shadow2);
//-------- BORDERS
$border-radius: 0px;

$icon-border-color: transparent;
$icon-border-color-hover: transparent;
$icon-border-color-focus: transparent;

//-------- SIZE
$small-btn: 30px;
$large-btn: 55px;

$big-padding: 15px;
$small-padding: 5px;

//-------- ICONS
$icon-bg-color: var(--brand-blue);
