$brand-black: #2c2c2c;
$visited: #9700a8;
$underline-pink: #ed78b1;
$brand-pink: $underline-pink;
$tertiary-color: #003cf0;
$brand-blue: #285b86;

// ----- background colors
$btn-bg-color: #eeeeee; //background for the button
$btn-bg-color-hover: #dddddd;
$btn-bg-color-focus: #dddddd;

//-------- BORDERS
$border-radius: 0px;

$icon-border-color: transparent;
$icon-border-color-hover: transparent;
$icon-border-color-focus: transparent;

//-------- SIZE
$small-btn: 30px;
$large-btn: 55px;

$big-padding: 15px;
$small-padding: 5px;

//-------- ICONS
$icon-bg-color: #b4b2b2;
