@use '../vars/colors' as c;
@use '../mixins/var-backups' as v;

header {
	@include v.cssVars(background, so-white);
	z-index: 1000;
	width: 100%;
	transition: 0.5s ease-in all;
	.p-menubar {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		transition: 0.5s ease-out all;
		width: 90%;
		margin: 0 auto;
		// overwrite primevue styles
		@include v.cssVars(background, so-white);
		@include v.cssVars(color, brand-black);
		@include v.cssVars(border, none);
		@include v.cssVars(border-radius, 0);
		@media (min-width: 1140px) {
			max-width: 1140px;
		}

		.main-logo {
			display: inline-block;
			height: 5em;
			width: 5rem;
			border-radius: 1rem;
			user-select: none;
			transition: 100ms ease-out all;
			&:focus,
			&:focus-visible {
				@include v.cssVars(outline-color, brand-black);
				outline-style: solid;
				outline-width: 3px;
			}
		}

		// Mobile nav
		& .mobile-nav {
			// text-align: center;
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: center;
			gap: 5rem;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			padding: 1.25rem 0rem 0 2rem;
			z-index: 10000;
			@include v.cssVars(background, so-white);
			border-top: 2px solid #2c2c2c;
			border-right: 2px solid #2c2c2c;
			.nav-list {
				flex-flow: column wrap;
				justify-content: start;
				align-items: flex-start;
				gap: 1rem 1rem;
			}
			& i {
				cursor: pointer;
				font-size: 1.5rem;
				transform: rotate(90deg);
				transition: 3000ms ease all;
				&.active-icon {
					transform: rotate(180deg);
				}
			}
		}
		//  desktop nav
		ul {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			gap: 0 2rem;

			li {
				padding: 1rem;
				user-select: none;
			}

			& .link {
				font-weight: 500;
				@include v.cssVars(color, brand-black);
				text-decoration: none;
				border-bottom: 3px solid transparent;
				transition: 210ms ease-in all;
				&:hover,
				&:focus,
				&:focus-visible {
					// color: c.$brand-blue;
					@include v.cssVars(color, brand-blue);
					@include v.cssVars(border-color, underline-pink);
					// border-color: c.$underline-pink;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;
				}
				&:focus,
				&:focus-visible {
					@include v.cssVars(outline-color, brand-blue);
					outline-style: solid;
					outline-width: 2px;
					outline-offset: 0.5rem;
					border-radius: 2px;
				}
			}
		}
		.hamburger {
			i {
				cursor: pointer;
				font-size: 1.5rem;
				transition: 500ms ease all;
			}
			.active-icon {
				transform: rotate(180deg);
			}
		}
	}
}
