// icons from the Snap! Framework https://github.com/snap-framework/snap/tree/master/core/scss/icons
@use './iconpacks/_iconpacks' as *;
@use '../../vars/colors' as c;
$ribbon-bg-color: c.$brand-blue;

@function encodecolor($string) {
	@if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
		$hex: str-slice(ie-hex-str($string), 4);
		$string: unquote('#{$hex}');

		@return '%23' + $string;
	}

	@return $string;
}

@mixin getcode($name, $new-color) {
	$icon-color: encodecolor($new-color);
	@include getIconsToolbar($name, $icon-color);
}
